if SHIELD_PHIBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "phiboard"
config USB_DEVICE_MANUFACTURER
    default "phiwan"
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PHIBOARD_LEFT || SHIELD_PHIBOARD_RIGHT

config ZMK_SPLIT
    default y
endif
