if SHIELD_PHIBOARD_RIGHT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "phiboard"
config USB_DEVICE_MANUFACTURER
    default "phiwan"
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_DISPLAY
    default y

endif

# for Debugging purposes, should never advertise itself
if SHIELD_PHIBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "phiboard slave"

config ZMK_DISPLAY
    default y

endif

if SHIELD_PHIBOARD_LEFT || SHIELD_PHIBOARD_RIGHT

config ZMK_SPLIT
    default y

endif
