if SHIELD_GOOSE_LEFT

config ZMK_KEYBOARD_NAME
    default "phiboard v1"
config USB_DEVICE_MANUFACTURER
    default "phiwan"
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GOOSE_LEFT || SHIELD_GOOSE_RIGHT

config ZMK_SPLIT
    default y
endif
